.card {
    cursor: pointer;
    transition: all 0.2s ease
}

.card img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: cover;
}

section:not(#dailyOffer) .card:hover {
    scale: 1.05
}

section#lastMinute .card {
    background-color: #929292;
    color: #fff;
    max-width: 30em;
    width: 100%
}

section#lastMinute .card img {
    width: 125px;
    /* height: 65px" */

}

section#lastMinute .card .card-text {
    font-size: 0.95rem;
    line-height: 1.5;
}


section#lastMinute .card .cta-section div {
    font-size: 1.05em;
}

section#testimonial .card-wrapper {
    max-width: 50%;
    margin: 0 auto;
}

.testimonial-slide {
    text-align: center;
    padding: 20px;
}

.testimonial-slide img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #fff;
}