.card {
    cursor: pointer;
    transition: all 0.2s ease
}

section:not(#dailyOffer) .card:hover {
    scale: 1.05
}

section#lastMinute .card {
    background-color: #929292;
    color: #fff
}



.fas.fa-share-alt:hover {
    color: #0d47a1 !important;
}

.fas.fa-heart:hover {
    color: red;
}